body {
	font-family: 'Roboto', sans-serif;
	color: white;
	/*background-image: url("images/09a8002f_ba3b_45f4_9dbf_489c6beadda3.jpeg");*/
}

/*body::after {
  content: "";
  background-image: url("images/09a8002f_ba3b_45f4_9dbf_489c6beadda3.jpeg");
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-attachment: fixed;
}*/



/* Global Font Sizes (smaller than headers) */

.micro-font {
	font-size: 9px !important;
}

.sm-font {
	font-size: 11px !important;
}

.md-font {
	font-size: 13px !important;
}

.lg-font {
	font-size: 16px !important;
}

.xl-font {
	font-size: 20px !important;
}

.upcase {
	text-transform: uppercase;
}


.row {
	/* need this dont delete */
	position: relative;
}

p {
	font-weight: lighter;
}

nav {
	font-weight: lighter;
	text-transform: capitalize;
}

nav li a {
	font-size: 12px;
}

nav ul li:hover {
   background-color: #333333;
}

.side-nav li a {
	color: white;
	font-weight: lighter;
}

.brand-logo {
	max-width: 100px;
	height: 64px;
	position: relative !important;
	float: left;
}

.logo-image {
	height: 50px;
    margin: 7px 13px 7px 10px;
}

.user-avatar {
	height: 64px;
	/*position: relative !important;*/
	float: right;
}

.avatar-image {
	height: 40px;
    margin: 12px;
}

.username {
	margin-right: 8px;
	font-size: 12px;
}

.button-collapse {
	margin-left: -40px;
}

/* VIDEO PLAYER STYLES */

#video-module {
	margin-top: 10px;
	margin-bottom: 10px;
}

.video-info-pipe {
	padding: 3px;
}

.video-description {
	font-size: 14px;
	margin-bottom: 60px;
}

.tags-area {
	margin-bottom: 20px;
	position: absolute;
	bottom: 0;
}

.tags {
	padding: 6px;
    border-radius: 3px;
    margin-right: 3px;
}

/* Main Content */

.forward-slash {
	padding: 3px;
}

.tabs .indicator {
    background-color: #8c9eff;
}

.main-content-tabs {
	padding: 0 !important;
}


/* Tablet Media Queries */

@media only screen and (max-width: 992px) {
	.video-description-div {
		padding: 0 20px !important;
	}
}


/* Smartphone Media Queries */

@media only screen and (max-width: 600px) {
    .logo-image {
    	height: 40px;
    	margin: 8px;
    }

    .user-avatar {
    	height: 56px;
	}

	.avatar-image {
    	height: 31px;
    	margin: 13px 20px 8px 5px;
	}

	.video-description {
		margin-bottom: 65px;
	}

	.video-description-div {
		padding: 0 .75rem !important;
	}

}








